p.fragment
    span.fa.fa-slack
    strong Shebbak
    | #{' '} is a simple application fetch new tweets stream for a specific #hashtagan, #{' '}
    span.fa.fa-slack
    strong Shebbak
    | #{' '} is Open Source - introduced as a demo - in a session presented in #{' '}
    a(href="http://catreloaded.com", target="_blank") CAT Scope'14
    | . The session was a simple introduction to #{' '}
    a(href="http://angularjs.org", target="_blank") AngularJS
    | #{' '}but a lot of other technologies integrated along the way like:
    ul
        li
            a(href="http://nodejs.org", target="_blank") NodeJS
        li
            a(href="http://expressjs.com", target="_blank") ExpressJS
        li
            a(href="http://oauth.net", target="_blank") OAuth
        li
            a(href="http://jade-lang.com", target="_blank") Jade Template Engine
        li
            a(href="http://getbootstrap.com", target="_blank") Twitter Bootstrap
    | The session presentation can be found on #{' '}
    a(href="http://www.slideshare.net/bingorabbit/modern-web-applications-using-angularjs", target="_blank")
        | this link on
        .fa.fa-slideshare
        |  SlideShare
    | .
address
    strong For any inquiries, issues or features requests, kindly submit and issue on the#{' '}
        a(href="http://github.com/bingorabbit/shebbak", target="_blank")
            span.fa.fa-github
            | #{' '}github repo
        | .